{% comment %}
<div id="carousel-gm-screens" class="carousel slide">
  <div class="carousel-indicators">
    {% for i in (0..gm_screens_len_dec) %}
      <button type="button" data-bs-target="#carousel-gm-screens" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i }}"
        {% if forloop.first == true %}
          class="active" aria-current="true"
        {% endif %}
      >
      </button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for picture_info in gm_info.pictures %}
      <div class=
        {% if forloop.first == true %}
          "carousel-item active"
        {% else %}
          "carousel-item"
        {% endif %}
      >
        <img src="/assets/gm-games/{{ gm_info.folder-name }}/screens/{{ picture_info.file }}" class="gallery-item d-block w-100" alt="{{ picture_info.caption }}">
        <div class="carousel-caption d-none d-md-block" style="text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
          <h4 class="text-white" style="text-transform:capitalize;">{{ picture_info.caption-title }}</h4>
          <p>{{ picture_info.caption-desc }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-gm-screens" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-gm-screens" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endcomment %}


{% comment %}
Whenever an image is added to the page, it automatically add the magnifying pop-up on it. So we can't add any <img> tag
{% endcomment %}
<div class="gm-gallery">
  <ol>
    {% for picture_info in gm_info.pictures %}
      <li>
        {% comment %}
        TODO: this is super ugly,
         check if there is a way to make it a bit better ? Here there is no img preview.
         Maybe with bootstraps cards embed in <a> the result could be interesting ?
         Be VERY careful with the <img> tag which looks to force the usage of the default mag glass (which is NOT what we want)
         In the worst case, hide the <a> tag here and add a button to trigger the gallery show
        {% endcomment %}
        <a
          href="/assets/gm-games/{{ gm_info.folder-name }}/screens/{{ picture_info.file }}"
          class="gallery-item"
          data-img-title="{{ picture_info.caption-title | escape }}"
          data-img-desc="{{ picture_info.caption-desc | escape }}"
        >
          {{ picture_info.caption-title }}
        </a>
      </li>
    {% endfor %}
  </ol>
</div>

<script>
  function defer(method) {
    if (window.jQuery) {
      method();
    } else {
      setTimeout(function() { defer(method) }, 50);
    }
  }

  defer(function () {
    $('.gm-gallery').each(function() {
      $(this).magnificPopup({
        delegate: '.gallery-item',
        type: 'image',
        gallery: {
          enabled: true
        },
        image: {
          titleSrc: function (item) {
            const itemEl = item.el;
            return `<span style="text-transform:capitalize;">${itemEl.data("img-title")}</span><small>${itemEl.data("img-desc")}</small>`;
          },
        }
      });
    });
  });
</script>
