{% assign idx = page.gm-game-idx | minus: 1 %}
{% assign game_info = site.data.gm-data[idx] %}

{% comment %} Demo section {% endcomment %}
{% assign game_path = '/assets/gm-games/' | append: game_info.folder-name | append: '/html/index.html' %}
{% capture game_path_exists %}{% file_exists {{ game_path }} %}{% endcapture %}
{% if game_path_exists == "true" %}
  <h2 id="title-demo">Demo</h2>
  {% include gm-demo.html %}
{% endif %}

{% comment %} Controls section {% endcomment %}
{% if game_info.controls %}
  <h2 id="title-controls">Controls <a class="text-muted anchor" data-bs-toggle="collapse" href="#control-details" role="button" aria-expanded="false" aria-controls="control-details">
    <i class="fa-solid fa-eye-slash"></i>
  </a></h2>
  <div id="control-details" class="collapse">
    <summary>Control Details</summary>
    {%- for control in game_info.controls -%}
      <dl>
        {% assign splitted_control = control | split: " -> " %}
        {% for elem in splitted_control %}
          {% if forloop.first %}
            <dt>{{ elem }}</dt>
          {% else %}
            <dd>{{ elem }}</dd>
          {% endif %}
        {% endfor %}
      </dl>
    {%- endfor -%}
  </div>
{% endif %}

{% comment %} Galery section {% endcomment %}
{% if game_info.pictures %}
  <h2 id="title-gallery">Gallery
    <a class="text-muted anchor" data-bs-toggle="collapse" href="#gm-gallery" role="button" aria-expanded="true" aria-controls="gm-gallery">
     <i class="fa-solid fa-eye-slash"></i>
    </a>
  </h2>
  {% assign gm_info = game_info %}
  {% assign gm_screens_len = gm_info.pictures.size %}
  {% assign gm_screens_len_dec = gm_screens_len | minus: 1 %}


  {% include gm-gallery.html %}
{% endif %}

{% comment %} Trivia section {% endcomment %}
<h2 id="title-trivia">Trivia</h2>
