
<div>
  <button id="gm-play-btn" onclick="loadGame()" type="button" class="btn btn-primary btn-lg">
    <i class="fa-solid fa-play"></i> <span>Try Demo</span>
  </button>
  <button id="gm-stop-btn" onclick="unloadGame()" type="button" class="btn btn-danger btn-lg d-none">
    <i class="fa-solid fa-power-off"></i> <span>Stop Demo</span>
  </button>
  <a id="gm-play-dedicated-btn" role="button" class="btn btn-secondary btn-lg" href="{{ game_path }}" target="_blank">
    <i class="fa-solid fa-up-right-from-square"></i> Play in dedicated window
  </a>
</div>

<div id="gm-content-div" hidden>
  <label for="gm-zoom-slider" class="form-label"><i class="fa-solid fa-magnifying-glass"></i> Zoom</label>
  <input type="range" class="form-range" min="0.25" max="2" step="0.05" id="gm-zoom-slider" value="1.0" onchange="zoomGame(this.value)">
  <div id="gm-game-div">
    <iframe
      id="gm-game-iframe" scrolling="no" frameborder="0"
      data-src="{{ game_path }}" src="about:blank">
    </iframe>
  </div>
</div>

{% comment %} /!\: The info  below can't be put in a div, otherwise it broke the intended blockquote {% endcomment %}
> This demo is a more recent adaptation to be embedded on the website.
Some features were removed to adapt with this format.
{: .prompt-info .gm-demo-info .d-none }

<script>
  {
    const gmContent = document.getElementById('gm-content-div');
    const gmIframe = document.getElementById('gm-game-iframe');
    const gmDiv = document.getElementById('gm-game-div');

    const gmPlayButton = document.getElementById('gm-play-btn');
    const gmPlayButtonIcn = document.querySelector('#gm-play-btn i');
    const gmPlayButtonText = document.querySelector('#gm-play-btn span');

    const gmStopButton = document.getElementById('gm-stop-btn');

    const gmDemoInfo = document.getElementsByClassName('gm-demo-info')[0];

    const gameWidth = {{ include.width | default: 640 }};
    const gameHeight = {{ include.height | default: 480 }};
    gmIframe.width = gameWidth;
    gmIframe.height = gameHeight;

    function loadGame() {
      gmContent.removeAttribute('hidden');
      gmIframe.src = gmIframe.dataset.src;

      gmPlayButtonIcn.classList.replace('fa-play', 'fa-arrows-rotate');
      gmPlayButtonText.innerText = 'Reset Demo';
      gmPlayButton.classList.replace('btn-primary', 'btn-warning');

      gmStopButton.classList.remove('d-none');
      gmDemoInfo.classList.remove('d-none');
    }

    function unloadGame() {
      gmContent.setAttribute('hidden', '');
      gmIframe.src = "about:blank";

      gmPlayButtonIcn.classList.replace('fa-arrows-rotate', 'fa-play');
      gmPlayButtonText.innerText = 'Try Demo';
      gmPlayButton.classList.replace('btn-warning', 'btn-primary');

      gmStopButton.classList.add('d-none');
      gmDemoInfo.classList.add('d-none');
    }

    function zoomGame(zoom_ratio) {
      const css_text = `
        -ms-zoom: ${zoom_ratio};
        -moz-transform: scale(${zoom_ratio});
        -moz-transform-origin: 0 0;
        -o-transform: scale(${zoom_ratio});
        -o-transform-origin: 0 0;
        -webkit-transform: scale(${zoom_ratio});
        -webkit-transform-origin: 0 0;
      `;
      gmIframe.setAttribute("style", css_text);
      /* Zooming the iframe, does NOT change the element actual size. So we modify the parent div manually */
      gmDiv.setAttribute("style", `width: ${gameWidth * zoom_ratio}px; height: ${gameHeight * zoom_ratio}px;`)
    }
  }
</script>
